<!-- The sidebar -->

<div class="sidebar">
  <a class="navbar-brand" href="http://localhost:5000/staff">
		<img class="logo2" src="/img/logo3.png">
		</a>
  <a class="active">
    Username: {{user.name}}
    Group: {{user.group}}
  </a>
  <a href="#news">News</a>
  <a href="#contact">Contact</a>
  <button class="dropdown-btn">Dropdown 
    <i class="fa fa-caret-down"></i>
  </button>
  <div class="dropdown-container">
    <a class="active2" href="#">Link 1</a>
    <a class="active2" href="#">Link 2</a>
    <a class="active2" href="#">Link 3</a>
  </div>
  <a href="#about">About</a>
  <a href="/logout" class="nav-link">Logout</a>
</div>
